.c-cart {
  min-width: 396px;
  max-width: 40vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: #242424;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  transition: transform 0.3s cubic-bezier(0.57, -0.04, 0, 1.23);
  transform: translateX(100%);
}
.c-cart.is-open {
  transform: translateX(0);
}
.c-cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
}
.c-cart-items {
  margin-top: 1rem;
  flex-grow: 1;
  overflow-y: auto;
  gap: 0.4rem;
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
}

.c-cart-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.2rem;

  img {
    max-width: 100px;
  }

  .c-cart-item_row-first {
    display: flex;
    gap: 0.3rem;
  }
}

.c-cart-footer {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #ddd;
  text-align: center;
}

.c-close-cart {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  width: 60px;
  height: 45px;
  padding: 0.6rem;
}

@media only screen and (min-width: 1200px) {
  .c-close-cart {
    display: none;
  }
}

.c-cart-item_quantity-total {
  color: var(--stone-7);
}

.c-cart-item_controls {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  justify-content: space-between;
}

.c-cart-item_quantity-container {
  display: flex;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
}

.c-cart-btn {
  position: relative;
}

.c-cart-btn-counter {
  position: absolute;
  right: -0.3rem;
  top: -0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: var(--red-11);
}
